.start-button{
    position: fixed;
    top: 50%;
    left: 50%;
}

.correct-container{
    position: fixed;
    bottom: 37%;
    left: 50%
}

.card-timer{
    position: absolute;
    top: 20%;
    right: 30%;
}

.quiz-container{
        width: 550px;
        border-radius: 5px;
        font-size: 30px;
        background-color: gray;
        transition: all 0.3s ease;
}

#select{
    font-size: larger;
}