.start-button{
    position: fixed;
    top: 35%;
    left: 47%;
}

.correct-container{
    position: absolute;
    bottom: 50%;
    left: 30%;
}

.card-timer{
    position: absolute;
    top: 30%;
    right: 30%;
}

.quiz-container{
        width: 550px;
        position: absolute;
        top: 40%;
        left: 35%;
        border-radius: 2px;
        font-size: 30px;
        background-color: gray;
}

#select{
    font-size: larger;
}

.title{
    font-size: xx-large;
    text-align: center;
    align-items: center;
}

.instruction-title{
    font-size: xx-large;
}

.info{
    font-size: 20px;
}

#scoreBoard{
    font-size: xx-large;
}